In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv('filtered_ShubmanGill.csv')

In [3]:
dataset.drop(columns=['Unnamed: 0'],inplace=True)

In [13]:
dataset.dtypes

inns_number          float64
bat                   object
team                  object
bowl                  object
opposition            object
ball                 float64
ball_id              float64
outs                   int64
dismissal             object
over                 float64
phase                 object
noball               float64
wide                 float64
date                  object
year                 float64
ground                object
country               object
bat_hand              object
bowl_style            object
bowl_kind             object
bowl_category         object
runs                 float64
balls                float64
line                  object
length                object
shot                  object
control              float64
inns                   int64
1s                     int64
2s                     int64
3s                     int64
4s                     int64
5s                     int64
6s                     int64
bowler_dismissed?      int64
dots                   int64
dtype: object

In [5]:
dataset.sort_values(by=['date','over','ball'],inplace=True)

In [6]:
dataset.reset_index(drop=True,inplace=True)

In [7]:
numeric_cols=dataset.groupby(['date','over','ball'])['runs','balls','outs','dots','1s','2s','3s','4s','5s','6s','control'].cumsum()
nonnumeric_cols=dataset[['date','team','inns_number','opposition','ground','dismissal']]

C:\Users\Vijay\AppData\Local\Temp\ipykernel_11040\1603817996.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  numeric_cols=dataset.groupby(['date','over','ball'])['runs','balls','outs','dots','1s','2s','3s','4s','5s','6s','control'].cumsum()

In [8]:
cumulativedataset=pd.concat([nonnumeric_cols,numeric_cols],axis=1)

In [9]:
cumulativedataset

,date,team,inns_number,opposition,ground,dismissal,runs,balls,outs,dots,1s,2s,3s,4s,5s,6s,control
0,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",NaN,0.0,1.0,0,1,0,0,0,0,0,0,1.0
1,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",NaN,0.0,1.0,0,1,0,0,0,0,0,0,0.0
2,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",NaN,1.0,1.0,0,0,1,0,0,0,0,0,1.0
3,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",NaN,1.0,1.0,0,0,1,0,0,0,0,0,1.0
4,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",NaN,0.0,1.0,0,1,0,0,0,0,0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2429,2024-05-10,Gujarat Titans,1.0,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",NaN,1.0,1.0,0,0,1,0,0,0,0,0,1.0
2430,2024-05-10,Gujarat Titans,1.0,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",NaN,1.0,1.0,0,0,1,0,0,0,0,0,1.0
2431,2024-05-10,Gujarat Titans,1.0,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",NaN,1.0,1.0,0,0,1,0,0,0,0,0,1.0
2432,2024-05-10,Gujarat Titans,1.0,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",NaN,1.0,1.0,0,0,1,0,0,0,0,0,1.0
2433,2024-05-10,Gujarat Titans,1.0,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",caught,0.0,1.0,1,1,0,0,0,0,0,0,0.0

In [10]:
cumulativedataset['SR']=round(cumulativedataset['runs']*100/cumulativedataset['balls'],2)
cumulativedataset['Control%']=round(cumulativedataset['control']*100/cumulativedataset['balls'],2)
cumulativedataset.drop(['control'],axis=1,inplace=True)

In [11]:
cumulativedataset

,date,team,inns_number,opposition,ground,dismissal,runs,balls,outs,dots,1s,2s,3s,4s,5s,6s,SR,Control%
0,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",NaN,0.0,1.0,0,1,0,0,0,0,0,0,0.0,100.0
1,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",NaN,0.0,1.0,0,1,0,0,0,0,0,0,0.0,0.0
2,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",NaN,1.0,1.0,0,0,1,0,0,0,0,0,100.0,100.0
3,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",NaN,1.0,1.0,0,0,1,0,0,0,0,0,100.0,100.0
4,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",NaN,0.0,1.0,0,1,0,0,0,0,0,0,0.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2429,2024-05-10,Gujarat Titans,1.0,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",NaN,1.0,1.0,0,0,1,0,0,0,0,0,100.0,100.0
2430,2024-05-10,Gujarat Titans,1.0,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",NaN,1.0,1.0,0,0,1,0,0,0,0,0,100.0,100.0
2431,2024-05-10,Gujarat Titans,1.0,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",NaN,1.0,1.0,0,0,1,0,0,0,0,0,100.0,100.0
2432,2024-05-10,Gujarat Titans,1.0,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",NaN,1.0,1.0,0,0,1,0,0,0,0,0,100.0,100.0
2433,2024-05-10,Gujarat Titans,1.0,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",caught,0.0,1.0,1,1,0,0,0,0,0,0,0.0,0.0