In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv('filtered_ShubmanGill.csv')

In [3]:
dataset.drop(columns=['Unnamed: 0'],inplace=True)

In [4]:
dataset.dtypes

inns_number          float64
bat                   object
team                  object
bowl                  object
opposition            object
ball                 float64
ball_id              float64
outs                   int64
dismissal             object
over                 float64
phase                 object
noball               float64
wide                 float64
date                  object
year                 float64
ground                object
country               object
bat_hand              object
bowl_style            object
bowl_kind             object
bowl_category         object
runs                 float64
balls                float64
line                  object
length                object
shot                  object
control              float64
inns                   int64
1s                     int64
2s                     int64
3s                     int64
4s                     int64
5s                     int64
6s                     int64
bowler_dismissed?      int64
dots                   int64
dtype: object

In [5]:
dataset.sort_values(by=['date','over','ball'],inplace=True)

In [6]:
dataset.groupby(['date']).cumsum().reset_index(drop=True)

C:\Users\Vijay\AppData\Local\Temp\ipykernel_12148\1387506624.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dataset.groupby(['date']).cumsum().reset_index(drop=True)

,inns_number,ball,ball_id,outs,over,noball,wide,year,runs,balls,control,inns,1s,2s,3s,4s,5s,6s,bowler_dismissed?,dots
0,1.0,5.0,13.05,0,14.0,0.0,0.0,2018.0,0.0,1.0,1.0,1,0,0,0,0,0,0,0,1
1,2.0,11.0,26.11,0,28.0,0.0,0.0,4036.0,0.0,2.0,1.0,2,0,0,0,0,0,0,0,2
2,3.0,16.0,40.16,0,43.0,0.0,0.0,6054.0,1.0,3.0,2.0,3,1,0,0,0,0,0,0,2
3,4.0,18.0,55.18,0,59.0,0.0,0.0,8072.0,2.0,4.0,3.0,4,2,0,0,0,0,0,0,2
4,5.0,22.0,70.22,0,75.0,0.0,0.0,10090.0,2.0,5.0,4.0,5,2,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2429,54.0,191.0,482.91,0,535.0,0.0,3.0,109296.0,101.0,51.0,42.0,54,23,3,0,9,0,6,0,10
2430,55.0,196.0,498.96,0,552.0,0.0,3.0,111320.0,102.0,52.0,43.0,55,24,3,0,9,0,6,0,10
2431,56.0,197.0,515.97,0,570.0,0.0,3.0,113344.0,103.0,53.0,44.0,56,25,3,0,9,0,6,0,10
2432,57.0,201.0,533.01,0,588.0,0.0,3.0,115368.0,104.0,54.0,45.0,57,26,3,0,9,0,6,0,10
2433,58.0,207.0,550.07,1,606.0,0.0,3.0,117392.0,104.0,55.0,45.0,58,26,3,0,9,0,6,1,11

In [7]:
dataset.reset_index(drop=True,inplace=True)

In [8]:
numeric_cols=dataset.groupby(['date'])['runs','balls','outs','dots','1s','2s','3s','4s','5s','6s','control'].cumsum()
nonnumeric_cols=dataset[['date','team','inns_number','opposition','ground','dismissal']]

C:\Users\Vijay\AppData\Local\Temp\ipykernel_12148\3703232610.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  numeric_cols=dataset.groupby(['date'])['runs','balls','outs','dots','1s','2s','3s','4s','5s','6s','control'].cumsum()

In [9]:
cumulativedataset=pd.concat([nonnumeric_cols,numeric_cols],axis=1)

In [10]:
cumulativedataset

,date,team,inns_number,opposition,ground,dismissal,runs,balls,outs,dots,1s,2s,3s,4s,5s,6s,control
0,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",NaN,0.0,1.0,0,1,0,0,0,0,0,0,1.0
1,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",NaN,0.0,2.0,0,2,0,0,0,0,0,0,1.0
2,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",NaN,1.0,3.0,0,2,1,0,0,0,0,0,2.0
3,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",NaN,2.0,4.0,0,2,2,0,0,0,0,0,3.0
4,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",NaN,2.0,5.0,0,3,2,0,0,0,0,0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2429,2024-05-10,Gujarat Titans,1.0,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",NaN,101.0,51.0,0,10,23,3,0,9,0,6,42.0
2430,2024-05-10,Gujarat Titans,1.0,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",NaN,102.0,52.0,0,10,24,3,0,9,0,6,43.0
2431,2024-05-10,Gujarat Titans,1.0,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",NaN,103.0,53.0,0,10,25,3,0,9,0,6,44.0
2432,2024-05-10,Gujarat Titans,1.0,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",NaN,104.0,54.0,0,10,26,3,0,9,0,6,45.0
2433,2024-05-10,Gujarat Titans,1.0,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",caught,104.0,55.0,1,11,26,3,0,9,0,6,45.0

In [11]:
cumulativedataset['SR']=round(cumulativedataset['runs']*100/cumulativedataset['balls'],2)
cumulativedataset['Control%']=round(cumulativedataset['control']*100/cumulativedataset['balls'],2)
cumulativedataset.drop(['control'],axis=1,inplace=True)

In [12]:
cumulativedataset

,date,team,inns_number,opposition,ground,dismissal,runs,balls,outs,dots,1s,2s,3s,4s,5s,6s,SR,Control%
0,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",NaN,0.0,1.0,0,1,0,0,0,0,0,0,0.00,100.00
1,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",NaN,0.0,2.0,0,2,0,0,0,0,0,0,0.00,50.00
2,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",NaN,1.0,3.0,0,2,1,0,0,0,0,0,33.33,66.67
3,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",NaN,2.0,4.0,0,2,2,0,0,0,0,0,50.00,75.00
4,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",NaN,2.0,5.0,0,3,2,0,0,0,0,0,40.00,80.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2429,2024-05-10,Gujarat Titans,1.0,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",NaN,101.0,51.0,0,10,23,3,0,9,0,6,198.04,82.35
2430,2024-05-10,Gujarat Titans,1.0,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",NaN,102.0,52.0,0,10,24,3,0,9,0,6,196.15,82.69
2431,2024-05-10,Gujarat Titans,1.0,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",NaN,103.0,53.0,0,10,25,3,0,9,0,6,194.34,83.02
2432,2024-05-10,Gujarat Titans,1.0,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",NaN,104.0,54.0,0,10,26,3,0,9,0,6,192.59,83.33
2433,2024-05-10,Gujarat Titans,1.0,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",caught,104.0,55.0,1,11,26,3,0,9,0,6,189.09,81.82